.register-container {
  border: 1px solid #dcdcde;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 15px 20%;
  padding: 10px;
}

.register-title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.register-input {
  margin-top: 15px;
}

.register-button {
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1259px) {
  .register-container {
    margin: 15px 0;
  }
}
@media screen and (max-width: 1035px) {
  .register-container {
    margin: 15px 0;
  }
}
@media screen and (max-width: 428px) {
  .register-container {
    margin: 15px 0;
  }
}
@media screen and (max-width: 228px) {
  .register-container {
    margin: 15px 0;
  }
}
