.landing-container {
  border: 1px solid #dcdcde;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:  15% 20% ;
  padding: 10px;
}

.landing-title {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.landing-button-register {
  margin-top: 20px;
}

.landing-button-login {
  margin-top: 15px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1259px) {
  .landing-container {
    margin: 15px 0;
  }
}
@media screen and (max-width: 1035px) {
  .landing-container {
    margin: 15px 0;
  }
}
@media screen and (max-width: 428px) {
  .landing-container {
    margin: 15px 0;
  }
}
@media screen and (max-width: 228px) {
  .landing-container {
    margin: 15px 0;
  }
}
